.mainCreation{
    width: 80%;
    margin: 2% auto;
}

.mainCreation h2{
    margin-left: 5%;
}

.tabsCreation{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs, .tab{
    width: 90%;
    margin-top: 1%;
}

.nav-link{
    color: #D9D9D9;
}

.nav-item{
    border: 1px solid;
}

.nav-item:hover{
    border-radius: 10px 10px 0px 0px;
}

.nav-link:hover{
    color: #D9D9D9;
    text-decoration: underline;
}

.tab-content{
    width: 90%;
    display: flex;
    justify-content: center;
    border: 1px solid;
    font-size: 1.2rem;
}

.buttonForm{
    display: flex;
    justify-content: center;
    margin: 5% 0%;
    gap: 10%;
}

.profileButton, .creationButton{
    font-size: 1.2rem;
}

.profileButton{
    width: 40%;
}

.creationButton{
    width: 50%;
    border: none ;
}

@media screen and (max-width: 768px) {
    
    .tab-content, .tabs{
        font-size: 1rem;
    }
    
    .profileButton, .creationButton, .questButton{
        font-size: 1rem;
    }

}
@media screen and (max-width: 1400px) {

    .mainCreation{
        width: 100%;
    }
  
    .profileButton, .questButton{
        font-size: 1.2rem;
    }

}

