.navbar{
    width: 100% ;
    background-color: #3B4449;
    border-bottom: 1px solid black;
    padding: 0 1%;
    display: flex;
    flex-wrap: wrap;
}

.logo{
    width:60px;
    height: 60px
}

.titre{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 1%;
    font-size: 1.5rem;
}

.navbarBrand {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.navText {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 0 0.5rem ;
}

.navbar-collapse{
    text-align: center;
}

.navButton{
    padding: 0.5rem 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.navButton p{
    padding: 0;
    font-size: 0.8rem;
}

.navLink:hover{
    font-weight: bolder;
    color: #D9D9D9;
    text-decoration: underline;
    text-underline-offset: 5px;
    transition: all 0.2s ease-in-out;
}


p{
    margin: 0;
    color: #D9D9D9;
}

.navLink{
    font-size: small;
    color: #D9D9D9;
}

@media only screen and (max-width: 1200px) {
    .navbar-toggler{
        background-color: #D9D9D9 !important;
    }
}
