.passwordInputModal{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputPassword{
    width: 100%;
    padding-right: 35px;
    box-sizing: border-box;
}

.eyeIconModal{
    position: absolute;
    right: 10px;
    bottom: 7px;
    cursor: pointer;
    font-size: 1rem;
    color: black
}

.eyeNewIconModal{
    position: absolute;
    right: 10px;
    bottom: 145px;
    cursor: pointer;
    font-size: 1rem;
    color: black
}